@model LogUser
<h1 class="text-center mt-5">Login</h1>
<form asp-action="Login" asp-controller="User" method="post" class="mt-2 form-group">
    <label asp-for="LogEmail" class="form-label"></label>
    <span asp-validation-for="LogEmail" class="text-danger"></span>
    <input asp-for="LogEmail" class="form-control">
    <label asp-for="LogPassword" class="form-label"></label>
    <span asp-validation-for="LogPassword" class="text-danger"></span>
    <input asp-for="LogPassword" class="form-control">
    <button type="submit" class="btn text-dark btn-outline-info mt-2">Login</button>
</form>