<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/IndexStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="navbar d-flex justify-content-center">
        <span class="fs-4 fw-bold"><a href="/" class="fs-4 fw-bold"> Home</a> | </span>
        <span class="fs-4 fw-bold"><a href="#"  style="color:black" class="fs-4 fw-bold"> Projects</a> | </span>
        <span class="fs-4 fw-bold"><a href="/contact" class="fs-4 fw-bold"> Contact</a> | </span>
    </div>
    <h1 class="text-center">Here are some projects of mine!</h1>
    <div class="projBox">
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev" alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev"  alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev"  alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev"  alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev"  alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev"  alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
        <div class="proj d-flex">
            <img src="~/images/umbrella.jpg" class="projPrev"  alt="Image Preview">
            <div class="projInfo">
                <p class="fs-5 fw-bold">Project Name!</p>
                <p class="fs-6 descBox">Project Description here</p>
            </div>
        </div>
    </div>
</body>
</html>