@model LoginUser
@{
    ViewData["Title"] = "Login";
}
<span class="text-warning">@ViewBag.ErrorMessage</span>
<a href="/" class="text-right fs-5 fw-bold">Register</a>
<h1>Login to this Cool Website!</h1>
<form asp-action="SubmitLogin" method="post" class="form-group mt-5">
    <label asp-for="emailSub" class="form-label"></label>
    <input asp-for="emailSub" class="form-control">
    <span asp-validation-for="emailSub" class="text-danger"></span>
    <label asp-for="passwordSub" class="form-label"></label>
    <input asp-for="passwordSub" class="form-control">
    <span asp-validation-for="passwordSub" class="text-danger"></span>
    <button type="submit" class="btn btn-outline-success">Login</button>
</form>