
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center;">Random Passcode (passcode #@Context.Session.GetInt32("NewPass"))</h1>
    <h3 style="text-align: center;">@Model</h3>
    <div style="text-align: center;">
    <form action="NewPassword" method="post">
        <button>Generate</button>
    </form>
    </div>
</body>
</html>