@model DateValidator.Models.NewDate

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    @* Import Bootstrap / Library here *@
</head>
<body>
    <h1>Choose a Date</h1>
    <h3>No Future Dates Please</h3>
    <form asp-action="Process" asp-controller="Home" methods="post">
        <span asp-validation-for="ChosenDate"></span>
        <label asp-for="ChosenDate"></label>
        <input type="date" asp-for="ChosenDate" name="ChosenDate" id="ChosenDate">
        <button type="submit">Submit</button>
    </form>

    <script src="~/js/script.js"></script>
</body>
</html>