@model Dish

<div>
    <h1 class="text-center">Add a new Dish!</h1>
    <a href="/" class="fs-5 fw-bold">Home</a>
    <form asp-action="SubmitDish" asp-controller="Home" method="post" class="form-group justify-content-evenly d-flex p-4">
        <div>
            <label class="form-label" asp-for="Chef"></label>
            <span asp-validation-for="Chef" class="text-danger"></span>
            <input class="form-control" asp-for="Chef">
            <label class="form-label" asp-for="Name" class="mt-2"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input class="form-control" asp-for="Name">
            <label class="form-label" asp-for="Calories" class="mt-2"></label>
            <span asp-validation-for="Calories" class="text-danger"></span>
            <input class="form-control" asp-for="Calories">
        </div>
        <div>
            <label class="form-label" asp-for="Tastiness" class="mt-2"></label>
            <span asp-validation-for="Tastiness" class="text-danger"></span>
            <Select class="form-select" asp-for="Tastiness">
                <option class="form-option" value="1">1</option>
                <option class="form-option"  value="2">2</option>
                <option class="form-option"  value="3">3</option>
                <option class="form-option"  value="4">4</option>
                <option class="form-option"  value="5">5</option>
            </Select>            
        </div>
        <div>
            <label class="form-label" asp-for="Description" class="mt-2"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
            <textarea class="form-control" asp-for="Description" cols="30" rows="10"></textarea>
            <button type="submit" class="btn btn-success">Add Dish</button>
        </div>
    </form>
</div>