@{
    ViewData["Title"] = "Add A Category!";
}
@model Product

<h1 class="text-center">@Model.Name</h1>
<div class="main d-flex gap-4">
    <div class="col1">
        <h3 class="text-center">Categories:</h3>
        <ul>
            @{
                @foreach(var one in Model.Categories)
                {
                    <li>@one.Category.Name</li>
                }
            }
        </ul>
    </div>
    <div class="col2">
        @{
            Association Assoc = new Association();
            Assoc.ProductID = @Model.ProductID;
        }
        <partial name="NewProductAssociationPartial" model="@Assoc"/>
    </div>
</div>