<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="navbar d-flex justify-content-center">
        <span class="fs-4 fw-bold"><a href="/" class="fs-4 fw-bold"> Home</a> | </span>
        <span class="fs-4 fw-bold"><a href="/projects" class="fs-4 fw-bold"> Projects</a> | </span>
        <span class="fs-4 fw-bold"><a href="#" class="fs-4 fw-bold" style="color:black" > Contact</a> | </span>
    </div>
    <h1 class="text-center">Contact Me!</h1>
    <form action="/contact/send" method="post" class="d-flex gap-4 justify-content-center form-group">
        <div class="col1">
            <div>
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control"  name="email" id="email">
            </div>
        </div>
        <div class="col2 aboutMe">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
            <br>
            <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
    </form>
</body>
</html>